<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Project</title>
</head>
<body>
    <form action="/projects/<%= data.id %>/edit" method="post">
        Name : <input type="text" name="name"  value="<%= data.name %>">
        <br>
        Description :
            <input type="text" name="description" value="<%= data.description %>">
        <br>
        Target :<input type="text" name="target" value="<%= data.target %>">
        <br>
        Current Ammount :<input type="text" name="current_amount" value="<%= data.currentAmmount %>">
        <br>
        <input type="submit" value="Edit Project">
    </form>
</body>
</html>