<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <%- include('./partials/home.ejs') %>
    <table border="1">
        <thead>
            <th>Transaction ID</th>
            <th>Project ID</th>
            <th>User ID</th>
            <th>Created At</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Options</th>
        </thead>
        <tbody>
            <% transactions.forEach( transaction => { %>
                <tr>
                    <td><%=transaction.id%></td> 
                    <td><%=transaction.ProjectId%></td>
                    <td><%=transaction.UserId%></td>
                    <td><%=transaction.createdAt%></td>
                    <td><%=transaction.amount%></td>
                    <td><%=transaction.status%></td>
                    <td>
                        <a href="/admins/transactions/<%=transaction.ProjectId%>/user/<%=transaction.UserId%>/approved">Approve</a> ||
                        <a href="/admins/transactions/<%=transaction.ProjectId%>/user/<%=transaction.UserId%>/rejected">Reject</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <%- include('./partials/admin.ejs') %>
</body>
</html>

<!-- kenapa transaction.id ga bisaa?? -->