<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <table table="1">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Target</th>
            <th>Current Amount</th>
            <th>Donate</th>
        </thead>
        <tbody>
            <h1>Haii <%=user.name%></h1>
            <% projects.forEach(project => { %>
                <tr>
                    <td><%=project.id%></td>
                    <td><%=project.name%></td>
                    <td><%=project.description%></td>
                    <td><%=project.target%></td>
                    <td><%=project.currentAmmount%></td>
                    <td><a href="/users/<%=user.id%>/allProjects/<%=project.id%>/donate">Donate</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>

